:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-futer-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --beck-btn-portfolio: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--logo-color);

  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .first-word {
  color: var(--accent-color);
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list .link,
.team .link {
  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo:hover,
.list .link:hover,
.list .link:focus,
.contakts .link:hover,
.contakts .link:focus,
.futer-nav .logo:hover {
  color: var(--accent-color);
}

.contakts .link {
  color: var(--title-text-color);

  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero {
  text-align: center;
  margin-top: 0;
  margin-bottom: 93px;
}
.advantage,
.operations,
.team,
.clients {
  margin-top: 0;
  margin-bottom: 94px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 26px;

  color: var(--primary-white-color);
  background-color: var(--title-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .link {
  display: inline-block;
  border-radius: 4px;
  padding: 13px 38px 7px 26px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.icone {
  padding: 25px 100px;
  width: 270px;
  background-color: var(--beck-btn-portfolio);
  margin-bottom: 30px;
}

.advantage .title,
.futer-link .title,
.foter-account .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantage .text {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0;
}

.operations .title,
.team .title,
.clients .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.operations .text {
  margin: 0;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-persons {
  width: 270px;
  text-align: center;
  padding-bottom: 24px;
}

.team-persons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.container-persons .list {
  width: 206px;
  margin-right: 32px;
  margin-left: 32px;
}

.team .text {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team .link:hover,
.clients .link:hover,
.futer-link .link:hover {
  background-color: var(--accent-color);
}

.logo-clients {
  width: 170px;
  padding-top: 20px;
  text-align: center;
}

.futer-nav {
  background-color: var(--title-text-color);
  color: var(--primary-white-color);
}
.futer-nav .logo,
.futer-nav .adress {
  color: var(--primary-white-color);
  text-decoration: none;
}

.futer-address {
  padding-top: 60px;
  padding-bottom: 60px;
}
.futer-logo {
  margin-top: 0;
  margin-bottom: 20px;
}

.futer-nav .link {
  color: var(--accent-futer-color);
}

.futer-nav .contakts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.futer-link {
  padding-top: 72px;
  padding-bottom: 100px;
}
.foter-account {
  padding-top: 72px;
  padding-bottom: 94px;
}

.futer-link .list {
  margin-top: 20px;
  width: 206px;
}

.futer-link .link {
  text-decoration: none;
}

.futer-btn {
  margin-top: 20px;
}
.windows {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  text-align: left;
  padding-left: 16px;
}

.btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 29px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
 
 
}

/* Portfolio */
.list .current {
  color: var(--accent-color);
}

.btn-portfolio {
  color: var(--primary-text-color);
  background-color: var(--beck-btn-portfolio);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio .link {
  text-decoration: none;
}

.portfolio .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .desc {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.portfolio .text {
  color: var(--primary-white-color);
  background-color: var(--beck-link-portfolio);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
